@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
     This piece of code was created under the influence of <a href="http://continuousdelivery.com/">Continuous Delivery</a> book although it is <u>not</u> 
     meant to be a guidance of any kind.
</p>
